<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>趣做CEO</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/src/dist/css/style.css" />
    <script src="/src/assets/js/lib/zepto.min.js"></script>
    <script src="/src/assets/js/lib/pre-loader.js"></script>
    <script src="/src/assets/js/lib/reqAnimate.js"></script>
    <script src="/src/assets/js/lib/lrz.all.bundle.js"></script>
    <script src="/src/assets/js/lib/fabric2.js"></script>
    <script src="/src/assets/js/orientation.js"></script>
    <script src="/src/assets/js/rem.js"></script>
    <script src="/src/assets/js/common.js"></script>
    <script src="/src/assets/js/controller.js"></script>
    <!--<script src="/src/dist/js/welcome_all.min.js"></script>-->
</head>
<body class="page-home">
<div class="preload">
    <!--<div class="v-content">-->
        <!--&lt;!&ndash;<img src="/src/images/logo.png" alt="lynkco"/>&ndash;&gt;-->
    <!--</div>-->

</div>
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper animate">
    <div class="bg">
        <!--我是背景-->
        <img src="/src/images/loading/loading_00001.jpg" alt="lynkco"/>
    </div>
    <!--<div class="show-animate">-->

    <!--</div>-->
    <div class="logo">
        <img src="/src/images/logo.png" alt="lynkco"/>
    </div>
    <div class="container">
        <!-- landing page-->
        <div class="pin pin-1" id="pin-landing">
            <div class="v-content">
                <img src="/src/images/p1-t1.png" alt="请用一件事证明你的能动力"/>
                <div class="btn-gonext">next</div>
            </div>
        </div>
        <!-- 寻找首席体验官-->
        <div class="pin pin-2" id="pin-find">
            <div class="v-content">
                <img src="/src/images/p2-1.jpg" alt="寻找首席体验官"/>
            </div>
        </div>
        <!-- question 1-->
        <div class="pin pin-3 pin-question" id="pin-question-1">
            <div class="v-content">
                <div class="question-wrap">
                    <img src="/src/images/question-1.jpg" alt="一句话描述你自己"/>
                    <ul class="q-lists">
                        <li class="item">
                            4王者带1青铜的“Lucky guys”
                        </li>
                        <li class="item">
                            逼死处女座的“画质狂魔”
                        </li>
                        <li class="item">
                            内心秩序的“禁卫军”
                        </li>
                        <li class="item">一句话让人报警的“老司机”</li>
                        <li class="item">吞吐宇宙的“最强脑洞”</li>
                    </ul>
                    <div class="input-box input-box-custom">
                        <input type="text" id="self-evaluation" placeholder="在此输入自己的答案"/>
                    </div>
                </div>
                <div class="btn btn-next">next</div>
            </div>
        </div>
        <!-- question 2 请用一件事证明你的能动力-->
        <div class="pin pin-4 pin-question pin-shake" id="pin-question-2">
            <div class="question-wrap canshake">
                <div class="question-content">
                    <img src="/src/images/q2-content.png" alt="请用一件事证明你的能动力"/>
                </div>
                <ul class="q-lists">
                    <li class="item item-a">
                        <div class="answer">
                            <img src="/src/images/q2-a.png" alt="勇敢去表达把自己的故事纹在身上"/>
                        </div>
                        <div class="btn btn-selected">就选他</div>
                    </li>
                    <li class="item item-b">
                        <div class="answer">
                            <img src="/src/images/q2-b.png" alt="勇敢去表达把自己的故事纹在身上"/>
                        </div>
                        <div class="btn btn-selected">就选他</div>
                    </li>
                    <li class="item item-c">
                        <div class="answer">
                            <img src="/src/images/q2-c.png" alt="勇敢去表达把自己的故事纹在身上"/>
                        </div>
                        <div class="btn btn-selected">就选他</div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- question 3 这个按钮关系到最后的结果，思考时间只有15秒，你按还是不按？ -->
        <div class="pin pin-5 pin-question" id="pin-question-3">
            <div class="v-content">
                <img src="/src/images/question-3.jpg" alt="这个按钮关系到最后的结果，思考时间只有15秒，你按还是不按？"/>
                <!-- 倒计时-->
                <div class="btn-time" id="countdown">15.00s</div>
            </div>
        </div>
        <!-- question 4 选择一张你喜欢的圆点图案-->
        <div class="pin pin-6 pin-question pin-shake" id="pin-question-4">
            <div class="question-wrap canshake">
                <div class="question-content">
                    <img src="/src/images/q4-content.png" alt="选择一张你喜欢的圆点图案"/>
                </div>
                <ul class="q-lists">
                    <li class="item item-a">
                        <div class="answer">
                            <img src="/src/images/q4-a.png" alt="选择一张你喜欢的圆点图案"/>
                        </div>
                        <div class="btn btn-selected">就选他</div>
                    </li>
                    <li class="item item-b">
                        <div class="answer">
                            <img src="/src/images/q4-b.png" alt="选择一张你喜欢的圆点图案"/>
                        </div>
                        <div class="btn btn-selected">就选他</div>
                    </li>
                    <li class="item item-c">
                        <div class="answer">
                            <img src="/src/images/q4-c.png" alt="选择一张你喜欢的圆点图案"/>
                        </div>
                        <div class="btn btn-selected">就选他</div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- question 5 考验你的“社交肌肉记忆”      在微信表情的第          页?-->
        <div class="pin pin-7 pin-question pin-shake" id="pin-question-5">
            <div class="question-wrap canshake">
                <div class="question-content">
                    <img src="/src/images/q5-content.png" alt="考验你的社交肌肉记忆"/>
                </div>
                <ul class="q-lists">
                    <li class="item item-a">
                        <div class="answer">
                            <img src="/src/images/q5-a.png" alt="5"/>
                        </div>
                        <div class="btn btn-selected">就选他</div>
                    </li>
                    <li class="item item-b">
                        <div class="answer">
                            <img src="/src/images/q5-b.png" alt="4"/>
                        </div>
                        <div class="btn btn-selected">就选他</div>
                    </li>
                    <li class="item item-c">
                        <div class="answer">
                            <img src="/src/images/q5-c.png" alt="3"/>
                        </div>
                        <div class="btn btn-selected">就选他</div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 点击上传照片-->
        <div class="pin pin-8" id="pin-upload">
            <div class="v-content">
                <div class="upload-wrap">
                    <img src="/src/images/upload-bg.jpg" alt="upload"/>
                    <div class="btn-upload">
                        <!--<span class="icon">+</span>-->
                        <!--点击上传照片-->
                        <img src="/src/images/btn-upload.png" alt="upload"/>
                    </div>
                    <canvas id="c"></canvas>
                </div>
                <div class="buttons">
                    <span class="btn-again">换一张</span>
                    <span class="btn-again">确认</span>
                </div>
                <!--<div class="tips">-->
                    <!--最后，请上传一张趣照-->
                    <!--以便让大家膜拜-->
                <!--</div>-->
                <input type="file" id="capture" accept="image/png,image/jpg,image/gif"/>
            </div>

        </div>
        <!-- CEO 排行榜-->
        <div class="pin pin-9" id="pin-result-lists">
            <div class="v-content">
                <div class="result-wrap">
                    <img src="/src/images/bg-3.jpg" alt="upload"/>
                    <ul class="result-lists">
                        <li class="item">
                            <span class="num">01</span>
                            <span class="name">tests</span>
                            <span class="score">100</span>
                        </li>
                    </ul>
                    <form id="form-contact">
                        <p class="des">
                            <img src="/src/images/p8-t1.png" alt="upload"/>
                        </p>
                        <div class="form-information">
                            <div class="input-box input-box-name">
                                <!--<label for="input-name">姓名:</label>-->
                                <input type="text" id="input-name" placeholder="留下你的名字"/>
                            </div>
                            <div class="input-box input-box-mobile">
                                <!--<label for="input-mobile">手机:</label>-->
                                <input type="tel" maxlength="11" id="input-mobile" placeholder="留下手机号码或邮箱地址"/>
                            </div>
                        </div>
                        <div class="btn btn-submit">提 交</div>
                    </form>
                </div>
            </div>

        </div>


    </div>
</div>
</body>
</html>
